<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCirGgksxdN4Qy9nqkvMc-3MmfNW8y0GnE</string>
	<key>GCM_SENDER_ID</key>
	<string>286606937619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.foodaan</string>
	<key>PROJECT_ID</key>
	<string>foodan-4ee52</string>
	<key>STORAGE_BUCKET</key>
	<string>foodan-4ee52.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286606937619:ios:c589777af5dd0a97b979e6</string>
</dict>
</plist>